body {
	font-family: Helvetica;
	background-color: #eee;
}

section {
	width: 100%;
}

article {
	font-family: Georgia, serif;
/*	border-top: 2px solid #777; */
}

button {
	background-color: #bada55;
	width: 60px;
	height: 40px;
	border-radius: 10px;
}

input[type="submit"] {
	margin-top: 1em;
	margin-bottom: 1em;
	display: block;
	height: 2em;
	font-size: 2em;
}

.article-image {
	width: 100%;
}

@media (min-width: 600px) {
	.article-image {
		width: 400px;
	}

	article h3 {
		width: 300px;
	}
}

.hidden {
	display: none;			
}

article header h3 {
	padding: 1em;
	line-height: 1.5em;
}

/*
 * Post Article
 */

label {
	display: block;
	margin-top: 1em;
}

input[type="text"], textarea {
	width: 90%;
}

input[type="text"] {
	height: 2em;
}

textarea {
	height: 5em;
}

section > div {
/*	border-top: 2px solid #aaa; */
	padding: 1em;
}

/*
 * Article
 */


article header {
	position: relative;
}

article header h3 {	
	position: absolute;
	bottom: 0;
	left: 0;

	color: white;

	background-color: rgba(0,0,0, 0.4);
}

article header div {
	position: absolute;
	top: 0;
	left: 0;
}

article header h3 {
	z-index: 10;
}


/*
 * 
 */

article {
	position: relative;
}

section.comments article > * {
	display: inline-block;
	vertical-align: bottom;
}

button.flag {
	width: 30px;
	height: 30px;
	background-image: url(../img/flag.png);
	background-position: 0 0;
	background-size: 28px 28px;

	position: absolute;
	top: 0;
	right: 0;
}
